#container {
	width: 700px;
	height:700px;
	margin: auto;
}

@media screen and (min-width: 400px) { 
		#container{
			height: 50%;
			width: 50%;
			margin: auto;
		}
	}

@media screen and (min-width: 320px) { 
		#container{
			height: 50%;
			width: 50%;
		}
	}

#redsquare {
	width: 200px;
	height:300px;
	background-color: red;
	float: left;

}

#bluesquare {
	width: 200px;
	height:300px;
	background-color: blue;
	float:left;

}

#orangesquare {
	width: 200px;
	height:300px;
	background-color: orange;
	float: left;

}


#yellowsquare {
	width: 200px;
	height:300px;
	background-color: yellow;
	float:left;

}
