#container {
	width: 700px;
	height:900px;
	background-color: #000000;
	margin: auto;
}

#redsquare {
	width: 200px;
	height:300px;
	background-color: red;
	float: left;

}

#bluesquare {
	width: 200px;
	height:300px;
	background-color: blue;
	float:left;

}


