body {
	background: #000000;
}

p {
	color: #ffffff;
	font-family: avenir;
	font-size: 30px;
}

#d1 {
	margin-left: 650px;
	margin-top: -50px;
}

#d2 {
	margin-left: 650px;
	margin-top: -50px;
}

#d3 {
	margin-left: 650px;
	margin-top: -50px;
}


#d4 {
	margin-left: 650px;
	margin-top: -50px;
}

#d5 {
	margin-left: 650px;
	margin-top: -50px;
}

#d6 {
	margin-left: 650px;
	margin-top: -50px;
}

#d7 {
	margin-left: 650px;
	margin-top: -50px;
}

#d8 {
	margin-left: 650px;
	margin-top: -50px;
}

#d9 {
	margin-left: 650px;
	margin-top: -50px;
}

#d10 {
	margin-left: 650px;
	margin-top: -50px;
}

#d11 {
	margin-left: 650px;
	margin-top: -50px;
}

#d12 {
	margin-left: 650px;
	margin-top: -50px;
}

#d13 {
	margin-left: 650px;
	margin-top: -50px;
}

#d14 {
	margin-left: 650px;
	margin-top: -50px;
}

#d15 {
	margin-left: 650px;
	margin-top: -50px;
}

#d16 {
	margin-left: 650px;
	margin-top: -50px;
}

#d17 {
	margin-left: 650px;
	margin-top: -50px;
}

#d18 {
	margin-left: 650px;
	margin-top: -50px;
}

#d19 {
	margin-left: 650px;
	margin-top: -50px;
}

#d20 {
	margin-left: 650px;
	margin-top: -50px;
}

#d21 {
	margin-left: 650px;
	margin-top: -50px;
}

#d22 {
	margin-left: 650px;
	margin-top: -50px;
}

#d23 {
	margin-left: 650px;
	margin-top: -40px;
}

#d24 {
	margin-left: 650px;
	margin-top: -30px;
}

#d25 {
	margin-left: 650px;
	margin-top: -20px;
}

#d26 {
	margin-left: 650px;
	margin-top: -10px;
}

#d27 {
	margin-left: 650px;
	margin-top: 0px;
}

#d28 {
	margin-left: 650px;
	margin-top: 10px;
}

#d29 {
	margin-left: 650px;
	margin-top: 20px;
}




a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
}

a:hover {
	color: #bae8fe;
}

a:active {
	color: #ffffff;
}